
/* Main includes everything excepts header and footer */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10rem;
}

/* Nav includes whole navigation bar */
.nav {
    display:flex;
    justify-content: space-between;
    height: 30px;
    font-family: arial,sans-serif;
    font-size: 13px;
    padding-top: 8px;
}

/* Left Nav includes left side of the navigation bar */
.left_nav{
    display:flex;
    justify-content: space-evenly;
    width: 100px;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
}

/* Right Nav includes right side of the navigation bar */
.right_nav{
    display:flex;
    justify-content: space-evenly;
    width: 250px;
    align-items: center;
    color:rgba(0, 0, 0, 0.87);
}

/* Apps button is the small square picture */
.apps_button{
    height: 24px;
    width: 24px;
}

/* Sign in button is the sign in button */
.sign_in_button{
    color: white;
    font-weight: bolder;
    border-color: white;
    border-width: 0px;
    border-radius: 2px;
    background-color:rgb(66, 133, 244);
    padding: 8px 12px 8px 12px;
}

.sign_in_button:hover{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
    cursor: pointer;
}

.sign_in_button:focus{
    outline: none;
}

/* Microphone icon is the microphone logo */
.microphone_icon{
    width: 14px;
    height: auto;
}

/* Magnifying glass icon is the magnifying glass logo */
.magnifying_glass_icon{
    width: 18px;
    height: auto;
}

/* search_bar_container is the container for the whole search bar */
.search_bar_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    width: 500px;  
    height: 44px;  
    border-color: hsl(0, 0%, 90%);
    border-width: 1px;
    border-style: solid;
    margin-top: 27.5px;
    margin-bottom: 25px;
    border-radius: 24px;
}

.search_bar_container:hover{    
    box-shadow: 1px 1px 5px 3px rgba(68, 50, 50, 0.075);
}

/* This is the search bar input */
input[type="text"]{
    border-style: none;
    height: inherit;
    height: 34px;
    width: 500px;
    font-size: 16px;
    font-family: arial,sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
   }

/* This is the search buttons container */
.search_buttons{
    display:flex;
    font-family: arial, sans-serif;
    font-size: 14px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}

/* This is Google Search button */
.google_search{
    width: 142px !important;
    height: 36px;
    margin-right: 5px;
    font-size: 14px;
    color: rgb(60,64,67);
    background-color: rgb(248,249,250);
    border:none;
    border-radius: 3px;
}

.google_search:hover{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}


.google_search:focus{
    outline: none;
}

/* This is Lucky Search button */
.lucky_search{
    width: 142px !important;
    height: 36px;
    margin-left: 5px;
    font-size: 14px;
    color: rgb(60,64,67);
    background-color: rgb(248,249,250);
    border:none;
    border-radius: 3px;
}

.lucky_search:hover{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
    cursor: pointer;
}

.lucky_search:focus{
    outline: none;
}

/* This is the footer */
.footer{
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border-color: rgb(218, 220, 224);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 14px;
    font-family: arial, sans-serif;
    justify-content: space-between;
    height: 40px;
    color: rgb(112, 117, 122);
}

/* This is the left part of the footer */
.left_footer{
    display:flex;
    justify-content: space-evenly;
    width: 350px;
    align-items: center;
}

/* This is the right part of the footer */
.right_footer{
    display:flex;
    justify-content: space-evenly;
    width: 250px;
    align-items: center;
}

/* Global changes */
button{
    appearance: none;
    font-family: arial, sans-serif;
   }

   /* Reminder : a is an hyperlink tag */
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}