
/* Main includes everything excepts header and footer */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10rem;
}

/* Nav includes whole navigation bar */
.nav {
    display:flex;
    justify-content: space-between;
    height: 30px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color:rgb(32, 33, 36);
    padding-top: 8px;
}

/* Left Nav includes left side of the navigation bar */
.left_nav{
    display:flex;
    justify-content: space-evenly;
    width: 100px;
    align-items: center;
}

/* Right Nav includes right side of the navigation bar */
.right_nav{
    display:flex;
    justify-content: space-evenly;
    width: 250px;
    align-items: center;
}

/* Apps button is the small square picture */
.apps_button{
    height: 24px;
    width: 24px;
}

/* Sign in button is the sign in button */
.sign_in_button{
    color: white;
    font-weight: bolder;
    border-color: white;
    border-width: 0px;
    border-radius: 2px;
    background-color:rgb(66, 133, 244);
    padding: 8px 12px 8px 12px;
}

.sign_in_button:hover{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50); ;
}

.sign_in_button:focus{
    outline: none;
}

/* Microphone icon is the microphone logo */
.microphone_icon{
    width: 14px;
    height: auto;
}

/* Magnifying glass icon is the magnifying glass logo */
.magnifying_glass_icon{
    width: 18px;
    height: auto;
}

/* search_bar_container is the container for the whole search bar */
.search_bar_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    width: 500px;  
    height: 44px;  
    border-color: hsl(0, 0%, 90%);
    border-width: 1px;
    border-style: solid;
    margin-top: 25px;
    margin-bottom: 35px;
    border-radius: 24px;
}

.search_bar_container:hover{    
    box-shadow: 1px 1px 5px 3px rgba(68, 50, 50, 0.075);
}

/* Reminder : a is an hyperlink tag */
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

/* This is the search bar input */
input[type="text"]{
    border-style: none;
    height: inherit;
    height: 34px;
    width: 500px;
    font-size: 16px;
    font-family: arial,sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
   }
